.contenedor {
  display: flex;
  padding: 10px;
}

#palabraClave {
  color: white;
  background-color: red;

  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#hexadecimal {
  color: #ffffff;
  background-color: #000000;

  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#RGB {
  color: rgb(255, 255, 255);
  background-color: rgb(68, 0, 93);

  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#color {
    background-color: red;
  
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  #transparencia{
    background-color: #e9e9e950;
    /* background-color: rgba(57, 0, 79,0.3); */

    text-align: center;
    color: white;
  }

  #degradado {
    color: rgb(255, 255, 255);
    background: linear-gradient(190deg, blue, pink);
    /* background: radial-gradient(yellow, red, blue, pink, green); */
  
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
